@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Stick&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6,p,a,label,li{
  font-family: 'Montserrat';
}
.btn-send {
  @apply w-full bg-secondary text-white font-mont font-bold py-2.5 px-11 text-[14px] lg:text-[18px] rounded-lg cursor-pointer;
}
.btn-send-2 {
  @apply  bg-secondary text-white font-mont font-bold text-[12px] lg:text-[16px] py-2 px-5 2xl:px-10 rounded-3xl cursor-pointer;
}
.labelInput {
  @apply font-mont font-bold text-[14px] lg:text-[18px] py-1;
}
.inputClass {
  @apply w-full bg-primary py-2 px-2 lg:py-2.5 lg:px-4 text-[14px] rounded-lg outline-none;
}
.pErrorCLass {
  @apply font-mont font-semibold text-[12px] text-red-600 absolute bottom-0;
}
.stamp {
  position: absolute;
  top: 39.5%;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(10px) scaleY(0.7); 
  }
  50% {
    transform: translateY(-35px) scaleY(1); 
  }
}
.loader {
  position: absolute;
  top: 39%;
  width: 179px;
  height: 179px;
  padding: 20px;
  aspect-ratio: 150%;
  border-radius: 50%;
  background: #31241E;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 2s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

